/* 
         Header 
*/

.h-container{
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: #F7ECDE;
    padding: 10px 15px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}
.h-row{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.h-col:first-child{
    display: flex;
    flex: 3;
    align-items: center;
}
.h-logo {
    flex: 1;
}
.h-logo .logo {
    font-size: 60px;
    font-weight: 100;
    color: #2e2e2e;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.h-menu{
    flex: 2;
}
.h-col:last-child{
    flex: 1;
}
.menu-item,
.right-menu-item{
    display: flex;
}

.menu-item li{
    margin-right: 40px;

}
.right-menu-item{
    justify-content: flex-end;
    align-items: flex-end;
}
.right-menu-item li{
    margin-left: 30px;
}
.menu-item li a ,
.right-menu-item li a 
{ 
    position: relative;
    font-weight: bold;
    color: #2e2e2e;

}
.right-menu-item li a svg{
    color: #748DA6;
    font-size: 20px;
}


.menu-item li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    right: 0;
    margin-bottom: -3px;
    background-color: #748DA6;
    transform-origin: bottom left;
    transition: transform 0.5s cubic-bezier(0 , 0 , 0.44 , 1.1);
}

.menu-item li a:hover::after 
{
    transform: scaleX(1);
    transform-origin: bottom right;
}

.menu-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}
.menu-badge{
   font-size: 25px;
}

.intro-container{
    min-height: calc(100vh - 100px);
    width: 90%;
    margin: auto;
    background: url(../public/assets/Screenshot\ 2022-09-11\ 005854.png);
    background-size: cover;
    position: relative;

}

.i-col {
    position: absolute;
    top: 30%;
    left: 10%;
}
.i-title {
    font-size:50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FBF8F1;
    background-color: #748DA685;
    border-radius: 5px;
}
.i-subtitle{
    font-size:16px;
    text-transform: uppercase;
    color: #FBF8F1;
    background-color: #748DA685;
    border-radius: 5px;
    text-align: center;
}
.i-shopbtn{
    font-size: 20px;
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px 10px;
    background-color:#FBF8F1;
    color: #2e2e2e;
    width: max-content;
    box-shadow: 0 0 3px #FBF8F1;
    transition: all 0.5s;
}
.i-shopbtn:hover{
    background-color: #748DA6;
}
.i-colArrow{
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 3;

}
.i-colArrow a{
    font-size: 50px;
    color: #000;
    animation: arrow 2s linear infinite;
}
.i-colArrow a:hover{
    color: #4b94dd;
    animation: arrow 10s linear ;

}
@keyframes arrow {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


/*

            Home blog

*/

.hb-container{
    min-height: 100vh;
    margin-top: 30px;
}

.hb-blogDiv{
    display: block;
    margin: 0 auto 20px auto;
    padding: 30px 0;
    width: 80%;
    min-height:70vh;
    box-shadow: -10px 0 8px -5px rgba(0, 0, 0, 0.445), 10px 0 8px -5px rgba(0, 0, 0, 0.445);
    /* background-color: #f7ecdec2; */

}
.hb-col{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hb-more{
    width: max-content;
    color: #2e2e2e;
    position: relative;
}
.hb-more svg{
    color: #748DA6;
}

.hb-blogs{
    columns: 2 250px;
    column-gap: 15px;
    width: 90%;
    margin: 0 auto;
    color: #2e2e2e;
    margin-top: 50px;
}

.hb-blog{
    display: inline-block;
    width: 100%;
    border: solid 1px #2e2e2e75;
    padding: 30px 10px;
    margin: 0 auto 15px auto;
    border-radius: 5px;
    overflow: hidden;
    color: #2e2e2e;
}
.hb-blogTitle{
    margin-bottom: 10px;
    text-align: center;
    color: #2e2e2e;
}
.hb-desc{
    text-align: center;
    font-style: italic;
    color: #2e2e2e80;
}
.hb-blogFooter{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    color: #2e2e2e;
}
.hb-blogFooter span{
    margin-left: 15px;
}


/*
        New product

*/

.npc-container{
    min-height: 100vh;
}
.npc-title{
    text-align: center;
    margin: 100px 0 30px 0;
    color: #2e2e2e;
}
.w-groups,
.npc-groups{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
}

.npc-group{
    width: 250px;
    box-shadow: -10px 0 8px -5px rgba(0, 0, 0, 0.445), 10px 0 8px -5px rgba(0, 0, 0, 0.445);

}
.product-img{
    width: 100%;
}
.npc-body {
    height: 250px;
    border-radius: 5px;
}
.npc-footer{
    position: relative;
    height: 100px;
    padding: 0 5px;
    background-color: #748DA679;
}
.npc-FooterDiv{
    position: absolute;
    background-color: #00000023;
    bottom: 0;
    top: -20px;
    width: calc(100% - 10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.npc-footerSubDiv{
    display: flex;
    justify-content: space-between;
}
.npc-category{
    text-align: center;
    margin-top: 5px;
    color: #2e2e2e;
    text-transform: uppercase;
}
.npc-Product-Title,
.npc-price{
    color: #2e2e2e;
    padding: 10px;
}
.npc-star{
    font-size: 20px;
    color: #2e2e2e;
    margin-left: 30px;
}
.f-container{
    background-color: #2e2e2e;
    color: #F7ECDE;
}
.f-row{
    display: flex;
}
.f-row:first-child{
    margin:  100px 0 35px 0;
    
}
.f-col{
    flex: 1;
    text-align: center;
}
.f-col a{
    font-size: 30px;
    color: #F7ECDE;
}
.f-copyright{
    display: flex;
    justify-content: center;
    width: 100%;
}
.f-copyright span{
    font-size: 12px ;
}
/* ///////////////////

        Signin 

   ///////////////////
*/
.s-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10px;
}
.s-formGroups{
    width: 500px;
    border:1px solid #2e2e2e33;
    padding: 20px;
    background-color: #FBF8F1;
    box-shadow: 0 0 10px #2e2e2e46;
    border-radius: 20px;
}
.s-title{
    text-align: center;
    margin: 10px 0 30px 0;
    color: #2e2e2e;
}
.s-formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.s-input {
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #2e2e2e;
    padding: 5px;
    border-radius: 5px;
}
.s-btn{
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    transition: all 0.3s;
    background-color: #2e2e2e;
    box-shadow: 0 0 4px #2e2e2e;
    color: #FBF8F1;
    border: none;
    border-radius: 5px;
    letter-spacing: 5px;
}
.s-btn:hover {
    background-color: #748DA6;
    color: #2e2e2e;
}
.s-formOther{
    margin: 20px 0;
    text-align: center;
}
.s-formOther a {
    font-size: 16px;
    color: #2e2e2e;
}


/*
///////////////////////
 
        shop

///////////////////////
*/
.shop-container ,
.w-container{
    padding: 50px 0;
}
.sh-title{
    text-align: center;
    margin-bottom: 30px;
    color: #2e2e2e;
}
.sh-filters{
    margin-bottom: 20px;
    font-size: 20px;
}
.sh-row:last-child{
    display: flex;
    
}
.sh-col:first-child{
    flex: 1;
}
.sh-col:last-child{
    flex: 3;
    /* background-color: #2e2e2e; */
}

.f-group{
    margin: 20px;
    margin-top: 40px;
}
.f-groupTitle{
    font-size: 16px;
    margin-bottom: 10px;
}

.f-filterDiv{
    margin: 10px 0;
}
.f-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.f-button{
    background-color:  #2e2e2e;
    color: #FBF8F1;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 10px #2e2e2e46;
}
.f-button:hover{
    background-color: #748DA6;
    color: #2e2e2e;
}
.f-filterInput{
    background-color: #FBF8F1;
    height: 25px;
    outline: none;
    border: none;
    border-bottom:1px solid #2e2e2e;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px 5px 10px;
    font-size: 16px;
}
.f-filterInput:focus{
    border-bottom:1px solid #748DA6;
}


.f-checkbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 5px;
    border-bottom: 1px dashed #00000023;
}
.f-check{
    cursor: pointer;
    filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(81deg) brightness(102%) contrast(107%);
    width: 20px;
    height: 20px;
}
.f-filterLabel{
    font-weight: bold;
    cursor: pointer;
}
.rc-slider-handle {
    border-color: #2e2e2e !important;
}

.rc-slider-track {
    background-color: #2e2e2e !important;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
    box-shadow: 0 0 0 3px #2e2e2e !important;
}
.f-buttons {
    margin: 5px;
}
.f-button.star{
    font-size: 12px;
}
.spr-row{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

/*
////////////////////////

        Wish List

////////////////////////
*/
.w-BtnTrash {
    background-color: transparent;
    border: none;
    display: block;
}
.w-trash{
    color: #2e2e2e;
    font-size: large;
}
.w-trash:hover{
    color: red;
}
.w-delete{
    margin: 15px auto;
}

/*
////////////////////////

       Cart

////////////////////////
*/

.c-row {
    display: flex;
    margin-top: 40px;
}
.c-col:first-child{
    flex: 3;
}
.c-col:last-child{
    flex: 1;
}
.c-otherDiv
{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.c-otherDiv{
    display: flex;
    justify-content: space-around;
}
.c-minus,
.c-plus{
    background: none !important;
    border: none !important;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
.c-minus:hover,
.c-plus:hover{
    color: #748DA6;
}
.c-quantity{
    margin: 10px;
    font-size: 25px; 
    font-weight: bold;
}

.bill-title {
    text-align: center;
    margin-bottom: 30px;
    color: #2e2e2e;
}
.bill-group{
    margin-bottom: 10px;
    border-bottom: 1px dashed #2e2e2e30;
    display: flex;
    justify-content: space-between;
    color: #2e2e2e;
}
.bill-total {
    margin-top: 50px;
}
.bill-btn {
    margin-top: 50px;
}

.bill-btn button {
    display: flex;
    background-color:  #2e2e2e;
    color: #FBF8F1;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 10px #2e2e2e46;
    margin: 0 auto ;
}
.bill-btn button:hover{
    background-color: #748DA6;
    color: #2e2e2e;
}