*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: lora;
  src: url(../public/assets/fonts/Lora.ttf);
}
html{
  scroll-behavior: smooth;
}


/*
  Scroll
*/
::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: #E9DAC1; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover { background: #748DA6; }


a{
  text-decoration: none;
}
ul{
  list-style: none;
}
input {
  font-family: lora;
}
button{
  cursor: pointer;
}

.wrapper{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body{
  font-family: lora;
  background-color: #FBF8F1;
}
::selection{
  background-color: #E9DAC1;
}

main{
  padding: 10px 15px;
}
